*{
    padding: 0px;
    margin: 0px;
}

#header {
    background-color: black;
    color: white;
    padding: 30px;
    margin: 0px 0px 10px 0px;
    text-align: center;
    font-size: 30px
}

#nav {
    width: 100%;
    background-color: black;
    overflow: auto;
}

#list {
    padding: 0px;
    margin: 0 0 0 150px;
    list-style: none;
}

li {
    float: left;
}

#main {
    font-size: 21px;
    width: 700px;
    text-align: justify;
    height: 800px;
    margin: auto;
}

#footer {
    clear: both;
    vertical-align: bottom;
    background-color: black;
    color: white;
    padding: 20px;
    height: 90px;
}

.line1 {
    margin: 0px 0px 12px 0px;
}

.logo {
    width: 30px;
    height: 30px;
    display: block;
    vertical-align: middle;
    float: left;
}

a {
    width: 100px;
    display: block;
    padding: 20px 15px;
    text-decoration: none;
    color: white;
    text-align: center;
}

#nav a:hover{
    background: purple;
    transition: 0.5s;
    text-transform: uppercase;
}